body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerBar {
  color: white;
  padding: 10px 30px 5px 10px;
  background: linear-gradient(25deg, blue, lightblue 50%, white);
}

.headerBar h1 a {
  text-decoration: none;
  color: white;
}

.mBLoggedIn {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10% auto 0 auto;
  padding: 10px;
  border: lightblue solid 2px;
  border-radius: 10px;
  box-shadow: 2px 4px 6px 1px rgba(140, 210, 233, 0.4);
}

.OBCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
  margin: 5px auto 10px auto;
  border: 1px solid lightblue;
  box-shadow: 0px 3px 10px 0px lightblue;
  border-radius: 5px;
  width: 92%;
}

.homeCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.calContCont {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid blue;
  box-shadow: 0px 3px 10px 0px lightblue;
}

p.calContx {
  cursor: pointer;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 90%;
  color: red;
  padding: 0;
  text-align: right;
}

.calModal h2 {
  margin: 2px;
}

.calModal ul {
  padding-left: 0;
}

.loginFormDiv {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  width: 33%;
  border: 1px solid lightblue;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 2px 4px 6px 1px rgba(140, 210, 233, 0.4);
}

.loginForm h2 {
  margin: 0;
}

.signupFormDiv {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupForm {
  display: flex;
  width: 33%;
  border: 1px solid lightblue;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 2px 4px 6px 1px rgba(140, 210, 233, 0.4);
}

.signupForm h2 {
  margin: 0;
}

.signupForm input {
  border: 1px solid lightskyblue;
  line-height: 2.5;
  width: 100%;
  border-radius: 5px;
}

.signupFormUN {
  width: 80%;
}

.signupFormEmail{
  width: 80%;
}

.signupFormPASS {
  width: 80%;
}

.signupFormSubmit button{
  margin: 5px;
  border: none;
  background-color: lightskyblue;
}

.incomesTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  width: 60%;
  min-height: 375px;
  max-height: 410px;
  overflow: scroll;
  border: 1px lightblue solid;
  border-radius: 15px;
  border-collapse: collapse;
  box-shadow: 2px 4px 6px 1px rgba(140, 210, 233, 0.4);
}

.incomesTable div {
  width: 100%;
}

.modalButton {
  margin-top: 2px;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: blue;
  color: white;
  box-shadow: 2px 4px 6px 1px rgba(140, 210, 233, 0.4);
}

.incomeTable {
  width: 100%;
}

.itemDelete {
  border: none;
  color: white;
  background-color: red;
  line-height: 1;
  border-radius: 10px;
  margin-bottom: 4px;
}

.itemEdit {
  border: none;
  color: white;
  background-color: blue;
  line-height: 1;
  border-radius: 10px;
  margin-bottom: 4px;
}

.incomeTable tr {
  width: 100%;
}

.expensesTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 60%;
  min-height: 375px;
  max-height: 410px;
  overflow: scroll;
  border: 1px lightblue solid;
  border-radius: 15px;
  border-collapse: collapse;
  box-shadow: 2px 4px 6px 1px rgba(140, 210, 233, 0.4);
}

.expensesTable div {
  width: 100%;
}

.expenseTable {
  width: 100%;
}

.expenseTable tr {
  width: 100%;
}

table, td {
  border: 1px solid lightblue;
  border-collapse: collapse!important;
  text-align: center;
  align-items: center;
}

th {
  background-color: white;
  position: sticky;
  top: -.9px;
  padding: 5px;
  border-bottom: 1px lightblue solid;
}

.calendarCont {
  width: 33%!important;
  
}

.react-calendar {
  width: 100%!important;
  border-radius: 15px;
  box-shadow: 4px 5px 1px 1px rgba(140, 210, 233, 0.4);
  min-height: 375px;
}

.react-calendar__tile {
  overflow: scroll;
  min-width: 14.2857%!important;
  max-height: 70px!important;
}

.react-calendar__tile div{
  max-height: 100%;
  overflow: scroll!important;
}
.react-calendar__tile--active {
  background-color: azure!important;
  color: black!important;
  border: 1px black dotted!important;
}

.react-calendar__tile--now{
  background-color: beige!important;
  border: 1px black solid!important;
}

.react-calendar__month-view__days__day--weekend {
  color: black!important;
}

.calendarViewUL {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.incomeTitle {
  border-bottom: 2px green solid;
  cursor: pointer;
}

.expenseTitle {
  padding-right: 5px;
  border-bottom: 2px red solid;
  cursor: pointer;
}

.totalsTitle {
  border-bottom: 2px black solid;
}

.incomeValue {
  color: green;
  -webkit-text-stroke: 1px darkgreen;
  font-size: 25px;
}

.incomeLI {
  color: rgb(1, 179, 1);
  font-weight: bold;
}

.expenseValue{
  color: red;
  -webkit-text-stroke: 1px darkred;
  font-size: 25px;
}

.expenseLI {
  color: red;
  font-weight: bold;
}

.totalsValue {
  font-size: 25px;
}

.ieModal{
  padding: 10px;
  position: absolute;
  background-color: white;
  border-radius: 15px;
  border: 2px blue solid;
  width: 50%;
  box-shadow: 0px 0px 120px 120px rgba(127, 204, 230, 0.4);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.ieModal input {
  border: 1px solid lightskyblue;
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}

.ieModal label {
  text-align: start;
  margin-top: 10px;
}

.ieModal .formTextInput {
  width: 90%;
  text-align: center;
}

.ieModal .ieModalButton {
  margin-top: 5px;
  color: white;
  background-color: blue;
  border-radius: 50px;
  cursor: pointer;
  width: 50%;
  align-self: center;
}

.ieModal .cancelButton {
  background-color: red;
}

.iItemizeTableCont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.iItemizeTable {
  margin-left: -10px;
}

.eItemizeTable {
  margin-left: -10px;
}

.eItemizeTableCont button {
  border: 1px solid lightskyblue;
  margin-top: 5px;
  color: white;
  background-color: blue;
  border-radius: 50px;
  justify-self: center;
}

.iItemizeTableCont button {
  border: 1px solid lightskyblue;
  margin-top: 5px;
  color: white;
  background-color: blue;
  border-radius: 50px;
}

.eventForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 85%;
}

.headerBar {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.subTableItemized {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border: 1px black solid;
}

.subTableItemized h4 {
  padding: 0;
  margin: 0;
}

.subTableItemized thead {
  width: 100%;
}
.subTableItemized tr{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
}

.subTableItemized tr th {
  width: 30%;
  border: none;
}

.subTableItemized tr td {
  width: 30%;
  border: none;
}

.eventsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-top: 10px;
  width: 33%;
  min-height: 375px;
  overflow: hidden;
  border: 1px lightblue solid;
  border-radius: 15px;
  border-collapse: collapse;
  box-shadow: 2px 4px 6px 1px rgba(140, 210, 233, 0.4);
}

.eventsListCont {
  width: 100%;
  max-height: 410px;
  text-align: center;
}

.eventsListTitle h2{
  margin: 2px 0 5px 0;
  width: 100%;
  border-bottom: 1px solid lightblue;
}

.eventsListCont h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

.eventsListCont ul {
  max-height: 170px;
  margin-top: 2px;
  overflow: scroll;
}

.ULCont {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.eventsListIULCont {
  margin: 0;
  width: 100%;
  max-height: 170px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.eventsListEULCont {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.graphsCont {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 60%;
  min-height: 375px;
  overflow: scroll;
  border: 1px lightblue solid;
  border-radius: 15px;
  border-collapse: collapse;
  box-shadow: 2px 4px 6px 1px rgba(140, 210, 233, 0.4);
}

.graphsViewCont {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.graphsViewTitle h2{
  margin: 2px 0 5px 0;
  width: 100%;
  border-bottom: 1px solid lightblue;
}

html, .mainBody {
  height: 100%;
}

.mainBody {
  display: flex;
  flex-direction: column;
}

.bodyTop {
  flex: 1 0 auto;
}

.graphsView {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.graphsDoughnut {
  height: 100%;
  width: 30%;
}

.graphsLine {
  height: 100%;
  width: 30%;
}

.graphsLine canvas {
  min-height: 335px!important;
}

.graphsArea {
  height: 100%;
  width: 30%;
}

.graphsArea canvas {
  min-height: 335px;
}

.Footer {
  margin-top: 10px;
  flex-shrink: 0;
  width: 100%;
  color: darkblue;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(170deg, white, lightblue 50%, blue);
}

tbody {
  width: 100%;
}